* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #111a22;
  transition: background-color 0.5s, color 0.5s;
}

/* Layout*/

@media (max-width: 792px) {
  .layout {
    padding-top: 1.25rem;
    padding-left: 7rem;
    width: 100%;
    display: grid;
    grid:
      "aside nav nav" 4rem
      "aside main main" 1fr
      "aside main main" 1fr
      /25% 37.5% 37.5%;
  }

  .aside {
    grid-area: aside;
  }
  .nav {
    grid-area: nav;
  }
  .main {
    grid-area: main;
  }
}

@media (min-width: 793px) {
  .layout {
    padding-top: 1.25rem;
    padding-left: 7rem;
    padding-right: 7rem;
    width: 100%;
    display: grid;
    grid:
      "aside nav nav" 4rem
      "aside main main" 1fr
      "aside main main" 1fr
      /25% 37.5% 37.5%;
  }

  .aside {
    grid-area: aside;
  }
  .nav {
    grid-area: nav;
  }
  .main {
    grid-area: main;
  }
}

/*Nav*/

.nav {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  border-bottom: 1px solid #243647;
}

.nav-btn {
  width: 40px;
  height: 40px;
  border-radius: 12px;
  background-color: #243647;
  border: none;
  margin-right: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s, color 0.5s;
}

.nav-btn:hover {
  background-color: #243647a8;
  cursor: pointer;
}

/*Aside*/

.aside {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-aside {
  text-align: left;
  font-size: 30px;
  color: #ececec;
  font-weight: 700;
  cursor: pointer;
}

.item-list {
  display: flex;
  flex-direction: column;
  width: 18rem;
}

.item-list-btn {
  margin-top: 0.75rem;
  height: 3rem;
  border-radius: 0.75rem;
  justify-content: start;
  align-items: center;
  display: flex;
  color: #ececec;
  transition: background-color 0.5s, color 0.5s;
}

.item-list-btn a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit; /* Mantener el color del texto */
}

.item-list-btn p {
  font-size: 15px;
  margin-left: 1rem;
}

.item-list .item-list-btn:nth-child(2) {
  margin-top: 2rem;
}

.item-list-btn:hover {
  background-color: #243647;
  cursor: pointer;
}

.icon {
  width: 30px; /* Tamaño del icono */
  height: 30px; /* Tamaño del icono */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}

.nav-btn-icon {
  width: 18px; /* Tamaño del icono */
  height: 18px; /* Tamaño del icono */
}

/*Main*/

.main {
  margin-top: 1rem;
}

.title-main {
  font-size: 24px;
  color: #ececec;
  font-weight: 700;
}

.calculadora {
  background-color: #111a22;
  color: #ececec;
  width: 26.25rem;
  max-width: 100%;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

.btn {
  background-color: #1a2632;
  color: #ececec;
  border: 0;
  padding: 1.5rem 0.5rem;
  border-radius: 0.5rem;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.btn:hover {
  background-color: #111a22;
  cursor: pointer;
  transition: 0.5ms;
}

.display {
  background-color: #1a2632;
  border-color: #344d65;
  border-radius: 12px 0 0 12px;
  border-style: solid;
  border-width: 0.8px;
  grid-column: 1 / -1;
  padding: 1.5rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: end;
  height: 3.5rem;
}

#igual {
  grid-column: -3/-1;
  background-color: #1466b8;
}

#igual:hover {
  background-color: #1466b877;
  transition: 0.5ms;
}

/* calculadora cientifica*/

.calc_cient {
  background-color: #15173c;
  color: #ececec;
  width: 450px;
  max-width: 100%;
  padding: 1.5rem;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
}

#igual_cient {
  grid-column: -3/-1;
  background-color: rgb(204, 91, 91);
}

#igual_cient:hover {
  background-color: rgb(221, 49, 49);
  transition: 0.5ms;
}

.container {
  color: #ececec;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

.converter {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.listado-de-tareas {
  background-color: #111a22;
  color: #ececec;
  padding: 1.5rem;
  display: flex;
  gap: 0.5rem;
}

.btn-tareas {
  border-radius: 12px;
  width: 10rem;
}

.btn-tareas {
  width: 10rem;
  height: 3rem;
  border-radius: 12px;
  background-color: #243647;
  border: none;
  margin-right: 2.5rem;
  color: #ececec;
  transition: background-color 0.5s, color 0.5s;
}

.btn-tareas:hover {
  background-color: #243647a8;
  cursor: pointer;
}

.display-tareas {
  background-color: #1a2632;
  border-color: #344d65;
  color: #ececec;
  border-radius: 12px 0 0 12px;
  border-style: solid;
  border-width: 0.8px;
  border-radius: 0.5rem;
  width: 25rem;
  height: 3rem;
}

#listaTareas {
  list-style: none;
  color: #ececec;
  margin-left: 1.5rem;
  font-size: 18px;
}

#listTareas li {
  border: none;
}

.boton-eliminar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 1.5rem;
  border-radius: 6px;
  background-color: #243647;
  border: none;
  transition: background-color 0.5s, color 0.5s;
  margin-left: 0.5rem; /* Margen para separar del texto */
}

.boton-eliminar:hover {
  background-color: #243647a8;
  cursor: pointer;
}

.icono-eliminar {
  width: 20px; /* Ajusta el tamaño según sea necesario */
  height: 20px; /* Ajusta el tamaño según sea necesario */
}

/* Estilo de los elementos de la lista */
#listaTareas li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  border: 1px solid #344d65;
  background-color: #1a2632;
  border-radius: 12px;
  margin-top: 1rem;
  text-overflow: inherit;
  max-width: 100vw;
}

#listaTareas li span {
  flex: 1; /* Hace que el texto ocupe el espacio disponible */
}
