# Ignorar directorio de dependencias de Node.js
node_modules/

# Archivos de Firebase
.firebase/
.firebaserc
firebase-debug.log

# Ignorar el archivo de configuración de entorno
.env
.env.local
.env.*.local


# Ignorar directorios generados por la construcción del proyecto
dist/
build/

# Ignorar archivos de logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar archivos generados por el sistema operativo
.DS_Store
Thumbs.db

# Ignorar configuraciones del editor de código
.vscode/
.idea/
*.code-workspace

# Ignorar archivos de caché y temporales
*.cache
*.tmp

# Ignorar directorios temporales
temp/
tmp/

# Archivos de bloqueo de dependencias (opcional)
package-lock.json
yarn.lock
npm-debug.log*
yarn-debug.log*
yarn-error.log*