:root {
  --general-background-color: #111a22;
  --button-color: #1a2632;
  --text-white-color: #ececec;
  --primary-color: #191919;
  --white: #ffffff;
  --sidebar-primary: #353e47;
  --sidebar-primary-hover: #353e47;
  --sidebar-background: #070e13;
  --background: #f1f3ff;
  --text-link: #ffffff;
  --headline: #cbd1d8;
  --expand-button: #353e47;
  --logout: #fa7575;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--general-background-color);
  color: var(--text-white-color);
  transition: background-color 0.5s, color 0.5s;
}

svg {
  border: none;
  outline: none;
}
/* Layout*/

@media (max-width: 1000px) {
  .layout {
    padding-top: 1.25rem;
    padding-left: 1rem;
    width: 100%;
    display: grid;
    grid:
      "nav nav nav" 4rem
      "aside main main" 1fr
      "aside main main" 1fr
      /27% 36.5% 36.5%;
  }

  .aside {
    grid-area: aside;
  }
  .nav {
    grid-area: nav;
  }
  .main {
    grid-area: main;
  }

  /*Aside*/

  .aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*border-right: 1px solid #243647;*/
  }

  .nav-btn-icon-git {
    width: 30px; /* Tamaño del icono */
    height: 30px; /* Tamaño del icono */
    margin-right: 0.5rem;
    transition: transform 0.75s ease-in-out, filter 0.5s ease-in-out; /* Suaviza la transición de transform y filter */
  }

  .nav-btn-icon-git:hover {
    cursor: pointer;
    transform: scale(1.3) rotate(360deg); /* Combina la escala y la rotación */
    filter: drop-shadow(0 0 5px rgb(63, 95, 124));
  }

  .title-aside {
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  @keyframes animateTitle {
    0% {
      opacity: 0;
      transform: scale(0.5) rotate(180deg);
      filter: drop-shadow(0 0 0px transparent);
    }
    100% {
      opacity: 1;
      transform: scale(1.5) rotate(0deg);
      filter: drop-shadow(0 0 5px rgb(63, 95, 124));
    }
  }

  .title-img {
    width: 60px;
    animation: animateTitle 1s ease-in-out forwards;
  }

  .text-title {
    font-family: "Dancing Script";
    font-size: 2.5rem;
    opacity: 0;
    margin-left: 2rem;
    animation: animateTitle 1s ease-in-out forwards;
  }

  .title-img-2 {
    width: 60px;
    transform: scale(1.5) rotate(0deg);
    filter: drop-shadow(0 0 5px rgb(63, 95, 124));
  }

  .text-title-2 {
    font-family: "Dancing Script";
    font-size: 2.5rem;
    margin-left: 2rem;
    transform: scale(1.5) rotate(0deg);
    filter: drop-shadow(0 0 5px rgb(63, 95, 124));
  }

  .link-title {
    text-decoration: none;
    color: var(--text-white-color);
  }

  .item-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 1rem;
  }

  .icon-link {
    text-decoration: none;
    color: inherit; /* Mantener el color del texto */
  }

  .item-list-btn {
    margin-top: 0.75rem;
    width: 100%;
    padding: 0.25rem;
    border-radius: 0.75rem;
    justify-content: start;
    align-items: center;
    transition: background-color 0.5s, color 0.5s;
  }

  .item-list-btn p {
    font-size: 13px;
    margin-top: 0.5rem;
  }

  .item-list-btn:hover {
    background-color: #243647;
    cursor: pointer;
  }

  .item-list-btn-seleccionado {
    margin-top: 0.75rem;
    width: 100%;
    height: 100%;
    padding: 0.25rem;
    border-radius: 0.75rem;
    justify-content: start;
    align-items: center;
    transition: background-color 0.5s, color 0.5s;
    background-color: #243647;
  }

  .item-list-btn-seleccionado p {
    font-size: 13px; /* Ajusta según sea necesario */
    margin-top: 0.5rem;
    overflow-wrap: break-word; /* Rompe palabras largas si es necesario */
  }

  .item-list-btn-seleccionado:hover {
    cursor: pointer;
  }

  .icon {
    width: 30px; /* Tamaño del icono */
    height: 30px; /* Tamaño del icono */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-btn-icon {
    width: 18px; /* Tamaño del icono */
    height: 18px; /* Tamaño del icono */
  }

  .converter {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #1a2632;
    border: 1px solid #344d65;
    padding: 2rem;
    margin: 1.5rem 1rem 0 1rem;
    border-radius: 12px;
    text-align: center;
    transition: background-color 0.5s, color 0.5s;
  }

  .input-group-3 {
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  .input-group-3-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.75rem;
    flex-direction: column;
  }

  .input-group-3 label {
    display: block;
    margin-top: 0.5rem;
  }

  .input-group input,
  select {
    padding: 0.5rem;
    font-size: 0.85rem;
    margin-right: 0.5rem;
    margin-top: 0.75rem;
    width: 100%;
    border-radius: 8px;
    background-color: #243647;
    border: 1px solid #344d65;
    color: var(--text-white-color);
  }

  button {
    padding: 0.5rem 1rem;
    font-size: 0.85rem;
    background-color: #243647;
    color: var(--text-white-color);
    border: none;
    border-radius: 12px;
    transition: background-color 0.5s, color 0.5s;
    border: 1px solid #344d65;
  }

  button:hover {
    background-color: #243647a8;
    cursor: pointer;
  }

  .result {
    margin-top: 0.5rem;
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--text-white-color);
    margin-top: 12px;
  }

  .converter-units {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #1a2632;
    border: 1px solid #344d65;
    padding: 2rem;
    margin: 1.5rem 1rem 0 1rem;
    border-radius: 12px;
    text-align: center;
    transition: background-color 0.5s, color 0.5s;
  }

  .listado-de-tareas {
    background-color: #111a22;
    color: var(--text-white-color);
    margin: 1.5rem 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .btn-tareas {
    width: 100%;
    height: 2rem;
    border-radius: 12px;
    background-color: #243647;
    border: none;
    color: var(--text-white-color);
    transition: background-color 0.5s, color 0.5s;
  }

  .btn-tareas:hover {
    background-color: #243647a8;
    cursor: pointer;
  }

  .display-tareas {
    background-color: #1a2632;
    border-color: #344d65;
    color: var(--text-white-color);
    border-radius: 12px 0 0 12px;
    border-style: solid;
    border-width: 0.8px;
    border-radius: 0.5rem;
    width: 100%;
    height: 2.5rem;
  }

  #listaTareas {
    list-style: none;
    color: var(--text-white-color);
    font-size: 18px;
    margin-right: 0.5rem;
  }

  #listTareas li {
    border: none;
  }

  .boton-eliminar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: 0.5rem;
    background-color: #243647;
    border: none;
    transition: background-color 0.5s, color 0.5s;
    margin-left: 0.5rem; /* Margen para separar del texto */
  }

  .boton-eliminar:hover {
    background-color: #243647a8;
    cursor: pointer;
  }

  .icono-eliminar {
    width: 20px; /* Ajusta el tamaño según sea necesario */
    height: 20px; /* Ajusta el tamaño según sea necesario */
  }

  /* Estilo de los elementos de la lista */
  #listaTareas li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    border: 1px solid #344d65;
    background-color: #1a2632;
    border-radius: 12px;
    margin-top: 1rem;
    text-overflow: inherit;
    max-width: 100vw;
  }

  #listaTareas li span {
    flex: 1; /* Hace que el texto ocupe el espacio disponible */
  }

  /*Ingresos-gastos*/

  .result {
    margin-top: 20px;
  }

  .result p {
    font-size: 18px;
    margin-top: 12px;
  }

  #totalIncome,
  #totalExpenses,
  #balance {
    font-weight: bold;
  }

  .history {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .history h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .history ul {
    list-style-type: none;
    padding: 0;
  }

  .history li {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .input-group-2 input,
  select {
    padding: 0.5rem;
    font-size: 0.85rem;
    width: 100%;
    border-radius: 8px;
    background-color: #243647;
    border: 1px solid #344d65;
    color: var(--text-white-color);
    margin-top: 0.75rem;
  }

  .input-group-2 button {
    margin-top: 0.5rem;
  }

  /*Nav*/

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    border-bottom: 1px solid #243647;
  }

  .nav-btn {
    width: 40px;
    height: 40px;
    border-radius: 12px;
    background-color: #243647;
    border: none;
    margin-right: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s, color 0.5s;
  }

  .nav-btn:hover {
    background-color: #243647a8;
    cursor: pointer;
  }

  /*Main*/

  .main {
    margin-top: 1rem;
  }

  .title-main {
    font-size: 24px;
    color: var(--text-white-color);
    font-weight: 700;
    margin-left: 1rem;
  }

  .calculadora {
    color: var(--text-white-color);
    width: 26.25rem;
    max-width: 100%;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
  }

  .btn {
    background-color: #1a2632;
    color: var(--text-white-color);
    border: 0;
    padding: 1.5rem 0.5rem;
    border-radius: 0.5rem;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

  .btn:hover {
    background-color: #111a22;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
  }

  .display {
    background-color: #1a2632;
    border-color: #344d65;
    border-radius: 12px 0 0 12px;
    border-style: solid;
    border-width: 0.8px;
    grid-column: 1 / -1;
    padding: 1.5rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: end;
    height: 3.5rem;
  }

  #igual {
    grid-column: -3/-1;
    background-color: #1466b8;
  }

  #igual:hover {
    background-color: #1466b877;
    transition: 0.5ms;
  }

  .form-group {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1001px) {
  .layout {
    padding-top: 1.25rem;
    padding-left: 7rem;
    padding-right: 7rem;
    width: 100%;
    display: grid;
    grid:
      "nav nav nav" 4rem
      "aside main main" 1fr
      "aside main main" 1fr
      /20% 40% 40%;
  }

  .aside {
    grid-area: aside;
  }
  .nav {
    grid-area: nav;
  }
  .main {
    grid-area: main;
  }

  /*Aside*/

  .aside {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-btn-icon-git {
    width: 30px; /* Tamaño del icono */
    height: 30px; /* Tamaño del icono */
    margin-right: 0.5rem;
    transition: transform 0.75s ease-in-out, filter 0.5s ease-in-out; /* Suaviza la transición de transform y filter */
  }

  .nav-btn-icon-git:hover {
    cursor: pointer;
    transform: scale(1.3) rotate(360deg); /* Combina la escala y la rotación */
    filter: drop-shadow(0 0 5px rgb(63, 95, 124));
  }

  .title-aside {
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  @keyframes animateTitle {
    0% {
      opacity: 0;
      transform: scale(0.5) rotate(180deg);
      filter: drop-shadow(0 0 0px transparent);
    }
    100% {
      opacity: 1;
      transform: scale(1.5) rotate(0deg);
      filter: drop-shadow(0 0 5px rgb(63, 95, 124));
    }
  }

  .title-img {
    width: 60px;
    animation: animateTitle 1s ease-in-out forwards;
  }

  .text-title {
    font-family: "Dancing Script";
    font-size: 2.5rem;
    opacity: 0;
    margin-left: 2rem;
    animation: animateTitle 1s ease-in-out forwards;
  }

  .link-title {
    text-decoration: none;
    color: var(--text-white-color);
  }

  .title-img-2 {
    width: 60px;
    transform: scale(1.5) rotate(0deg);
    filter: drop-shadow(0 0 5px rgb(63, 95, 124));
  }

  .text-title-2 {
    font-family: "Dancing Script";
    font-size: 2.5rem;
    margin-left: 2rem;
    transform: scale(1.5) rotate(0deg);
    filter: drop-shadow(0 0 5px rgb(63, 95, 124));
  }

  .icon-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit; /* Mantener el color del texto */
  }

  .icon {
    width: 30px; /* Tamaño del icono */
    height: 30px; /* Tamaño del icono */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
  }

  .item-list {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .item-list-btn {
    margin-top: 0.75rem;
    width: 100%;
    height: 3rem;
    border-radius: 0.75rem;
    justify-content: start;
    align-items: center;
    display: flex;
    transition: background-color 0.5s, color 0.5s;
  }

  .item-list-btn:hover {
    background-color: #243647;
    cursor: pointer;
  }

  .item-list-btn p {
    font-size: 15px;
    margin-left: 1rem;
  }

  .item-list-btn-seleccionado {
    margin-top: 0.75rem;
    width: 100%;
    height: 3rem;
    border-radius: 0.75rem;
    justify-content: start;
    align-items: center;
    display: flex;
    transition: background-color 0.5s, color 0.5s;
    background-color: #243647;
  }

  .item-list-btn-seleccionado:hover {
    cursor: pointer;
  }

  .item-list-btn-seleccionado p {
    font-size: 15px;
    margin-left: 1rem;
  }

  .nav-btn-icon {
    width: 18px; /* Tamaño del icono */
    height: 18px; /* Tamaño del icono */
  }

  .converter {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #1a2632;
    border: 1px solid #344d65;
    padding: 2rem;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
    border-radius: 12px;
    text-align: center;
    transition: background-color 0.5s, color 0.5s;
  }

  .input-group {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  .input-group input,
  select {
    padding: 0.5rem;
    font-size: 0.85rem;
    width: 100%;
    border-radius: 8px;
    background-color: #243647;
    border: 1px solid #344d65;
    color: var(--text-white-color);
  }

  button {
    padding: 0.5rem 1rem;
    font-size: 0.85rem;
    background-color: #243647;
    color: var(--text-white-color);
    border: none;
    border-radius: 12px;
    transition: background-color 0.5s, color 0.5s;
    border: 1px solid #344d65;
  }

  button:hover {
    background-color: #243647a8;
    cursor: pointer;
  }

  .result {
    margin-top: 0.5rem;
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--text-white-color);
  }

  .converter-units {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #1a2632;
    border: 1px solid #344d65;
    padding: 2rem;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
    border-radius: 12px;
    text-align: center;
    transition: background-color 0.5s, color 0.5s;
  }

  .listado-de-tareas {
    background-color: #111a22;
    color: var(--text-white-color);
    padding: 1.5rem;
    display: flex;
    gap: 0.5rem;
  }

  .btn-tareas {
    border-radius: 12px;
    width: 10rem;
  }

  .btn-tareas {
    width: 10rem;
    height: 3rem;
    border-radius: 12px;
    background-color: #243647;
    border: none;
    margin-right: 2.5rem;
    color: var(--text-white-color);
    transition: background-color 0.5s, color 0.5s;
  }

  .btn-tareas:hover {
    background-color: #243647a8;
    cursor: pointer;
  }

  .display-tareas {
    background-color: #1a2632;
    border-color: #344d65;
    color: var(--text-white-color);
    border-radius: 12px 0 0 12px;
    border-style: solid;
    border-width: 0.8px;
    border-radius: 0.5rem;
    width: 25rem;
    height: 3rem;
  }

  #listaTareas {
    list-style: none;
    color: var(--text-white-color);
    margin-left: 1.5rem;
    font-size: 18px;
  }

  #listTareas li {
    border: none;
  }

  .boton-eliminar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: 0.5rem;
    background-color: #243647;
    border: none;
    transition: background-color 0.5s, color 0.5s;
    margin-left: 0.5rem; /* Margen para separar del texto */
  }

  .boton-eliminar:hover {
    background-color: #243647a8;
    cursor: pointer;
  }

  .icono-eliminar {
    width: 20px; /* Ajusta el tamaño según sea necesario */
    height: 20px; /* Ajusta el tamaño según sea necesario */
  }

  /* Estilo de los elementos de la lista */
  #listaTareas li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    border: 1px solid #344d65;
    background-color: #1a2632;
    border-radius: 12px;
    margin-top: 1rem;
    text-overflow: inherit;
    max-width: 100vw;
  }

  #listaTareas li span {
    flex: 1; /* Hace que el texto ocupe el espacio disponible */
  }

  /*Ingresos - gastos*/

  .result p {
    font-size: 18px;
    margin-top: 12px;
  }

  #totalIncome,
  #totalExpenses,
  #balance {
    font-weight: bold;
  }

  .history {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .history h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .history ul {
    list-style-type: none;
    padding: 0;
  }

  .history li {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .input-group-2 {
    gap: 1rem;
    margin-bottom: 1rem;
  }

  .input-group-2 input,
  select {
    padding: 0.5rem;
    font-size: 0.85rem;
    width: 100%;
    border-radius: 8px;
    background-color: #243647;
    border: 1px solid #344d65;
    color: var(--text-white-color);
  }

  .input-group-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.75rem;
  }

  .input-group-3-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.75rem;
  }

  /*Nav*/

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    border-bottom: 1px solid #243647;
  }

  /*Main*/

  .main {
    margin-top: 1rem;
  }

  .title-main {
    font-size: 24px;
    color: var(--text-white-color);
    font-weight: 700;
    margin-left: 1rem;
  }

  .calculadora {
    color: var(--text-white-color);
    width: 26.25rem;
    max-width: 100%;
    padding: 1.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
  }

  .btn {
    background-color: #1a2632;
    color: var(--text-white-color);
    border: 0;
    padding: 1.5rem 0.5rem;
    border-radius: 0.5rem;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

  .btn:hover {
    background-color: #111a22;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
  }

  .display {
    background-color: #1a2632;
    border-color: #344d65;
    border-radius: 12px 0 0 12px;
    border-style: solid;
    border-width: 0.8px;
    grid-column: 1 / -1;
    padding: 1.5rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: end;
    height: 3.5rem;
  }

  #igual {
    grid-column: -3/-1;
    background-color: #1466b8;
  }

  #igual:hover {
    background-color: #1466b877;
    transition: 0.5ms;
  }

  /* */

  .form-group {
    display: flex;
    flex-direction: column;
  }
}

#copy {
  margin-top: 1rem;
}

.sidebar {
  position: sticky;
  top: 0;
  left: 0;
  max-height: 100vh;
  height: 100%;
  padding: 1rem 0px;
  border-radius: 1rem;
  max-width: 18rem;
  display: flex;
  color: var(--white);
  flex-direction: column;
  background-color: var(--general-background-color);
  border: solid 1px var(--button-color);
  transition: max-width 0.1s ease-in-out;
}

body.collapsed .sidebar {
  max-width: 5rem;
  display: flex;
  align-items: center;
}

body.collapsed .hide {
  position: absolute;
  display: none;
}

/*? menu links */
.sidebar-links {
  margin-top: 1rem;
  width: 100%;
}

.sidebar-links ul {
  list-style-type: none;
}

.sidebar-links li {
  color: var(--text-link);
  margin-bottom: 0.5rem; /* Espacio entre los elementos */
}

body.collapsed .sidebar-links li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-links li a:hover {
  background-color: #243647;
}

.sidebar-links li a {
  color: var(--text-link);
  flex-grow: 1;
  padding: 0 1rem;
  font-size: 1rem;
  display: flex;
  gap: 1.75rem;
  align-items: center;
  height: 3.5rem;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
  border-radius: 12px;
}

.sidebar-links li a .link {
  overflow: hidden;
  white-space: nowrap;
  animation: fadeIn 0.2s ease-in-out;
}

.sidebar-links li a img {
  height: 2.125rem;
  width: 2.125rem;
}

.sidebar-links .active:hover {
  background-color: var(--sidebar-primary-hover);
}

.sidebar-links .active {
  text-decoration: none;
  background-color: var(--sidebar-primary-hover);
  color: var(--text-link);
}

/* ?tooltip */
.tooltip {
  position: relative;
}

.tooltip .tooltip__content::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0%;
  margin-left: -0.625rem;
  margin-top: -0.3125rem;
  border-width: 5px;
  border-style: solid;
  border-color: transparent var(--primary-color) transparent transparent;
}

.tooltip .tooltip__content {
  visibility: hidden;
  background-color: var(--primary-color);
  color: var(--white);
  text-align: center;
  border-radius: 0.375rem;
  padding: 0.375rem 0.75rem;
  position: absolute;
  z-index: 1;
  left: 5.625rem;
}

.collapsed .tooltip:hover .tooltip__content {
  visibility: visible;
}

/*? Expand button */

.expand-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--expand-button);
  z-index: 2;
  right: -1.125rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.expand-btn svg {
  transform: rotate(-180deg);
  stroke: var(--white);
  width: 1.25rem;
  height: 1.25rem;
}

body.collapsed .expand-btn svg {
  transform: rotate(-360deg);
}

.bottom-links {
  margin-top: auto;
}

@keyframes fadeIn {
  from {
    width: 0;
    opacity: 0;
  }

  to {
    opacity: 1;
    width: 100%;
  }
}
